<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- These are the minimum steps necessary to get appcache working on a mobile site. I strongly recommend looking into an web.config template which applies optimizations. See my web.config for IIS7, for instance: github.com/phette23/iis7-web-config -->
        <staticContent>
            <remove fileExtension=".appcache" />
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <remove fileExtension=".manifest" />
            <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
        </staticContent>
    </system.webServer>
</configuration>
